<% var pageTitle = ''; %>
<% var pathPartials = './_partials/'; %>
<% //----------------------------------------- %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include(pathPartials + 'head') %>
<link rel="stylesheet" type="text/css" href="/common/css/common.css">
<link rel="stylesheet" type="text/css" href="/common/css/top.css">
</head>
<body>

<div class="page" id="PageView">

  <%- include(pathPartials + 'header') %>

  <main class="main" id="MainView">

    <section class="section" id="SectionView">
      <h2>セクション</h2>
      <ul class="section-list js-list">
      </ul>
    </section>

  </main>

  <%- include(pathPartials + 'footer') %>

</div><!--/.page -->

<script src="/common/js/lib/jquery-2.1.1.min.js"></script>
<script src="/common/js/common.js"></script>
<script src="/common/js/sub/top.js"></script>
</body>
</html>
